// Size Dimensions
$site-width: 1280px;
$site-height: 800px;
// $site-width: 1280vw;

// Color Palette
$raisin-black: #262526;
$onyx: #404040;
$battleship-gray: #8c8979;
$white-smoke: #f2f2f2;
$red-cmyk: #f60a20;
