#Home-Section {
  background-color: blue;
  max-width: $site-width;
  min-height: 700px;
}
.Hero-IMG {
  background-image: url(../img/pexels-wolfgang-2747449.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: $site-height;
  width: 100%;
  background-color: $raisin-black;
  background-blend-mode: luminosity;
  display: flex;
  align-items: self-start;
  justify-content: space-evenly;
  flex-direction: column;
  h1,
  h2 {
    margin-left: 42px;
  }
  h1 {
    color: $red-cmyk;
    text-transform: uppercase;
    font-family: FuturaHeavy;
    font-size: 105px;
    letter-spacing: 2.1px;
  }
  h2 {
    color: $white-smoke;
    font-family: FuturaHeavy;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
