.albumBox {
  //   background-color: red;
  // height: 453px;
  width: 300px;
}
.albumImage {
  width: 300px;
  //   height: 275px;
  height: 300px;
  background-color: $battleship-gray;
  img {
    width: 100%;
  }
}
